.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    padding: 4rem 2rem;
}

.full-width {
    width: 100%;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 4rem;
}

.full-width {
    width: 90%;
}



.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 22rem;
    margin-top: 4rem;
    width: 30%;
}