<form class="form mat-elevation-z8">
    <h2>Remover técnico</h2>
    <mat-form-field class="full-width" >
        <mat-label>Nome</mat-label>
        <input  class="fiel-input" disabled [(ngModel)]="tecnico.nome"  name="nome" maxlength="50" matInput placeholder="Digite o nome do técnico">       
    </mat-form-field>

    <mat-form-field class="full-width" >
        <mat-label>CPF</mat-label>
        <input  class="fiel-input" disabled [(ngModel)]="tecnico.cpf"  name="cpf"  matInput placeholder="Digite o seu CPF ">    
    </mat-form-field>

    <mat-form-field class="full-width" >
        <mat-label>Telefone</mat-label>
        <input  class="fiel-input" disabled [(ngModel)]="tecnico.telefone"  name="telefone"  matInput placeholder="Ex. 31 90000-0000">   
    </mat-form-field>

    <div class="btn">
        <button class="mat-elevation-z8" (click)="delete()" mat-stroked-button color="accent">Remover</button>
        <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>