<mat-toolbar class="footer">
    <p class="mat-elevation-z8">ଆସମୋଡେସ୍ · 2021 © Todos os direitos reservados . by Will</p>
    <ul class="social-media">
        <li>
            <a href=""><span class="material-icons">
                language
                </span>
            </a>
        </li>
        <li>
            <a href=""><span class="material-icons">
                alternate_email
                </span></a>
        </li>
        <li>
            <a href=""><span class="material-icons">
                whatsapp
                </span></a>
        </li>
    </ul>
</mat-toolbar>